{% extends "dashboard_Base.html.twig" %}

{% block title %}TemplateBundle:Dashboard:d_Membership{% endblock %}

{% block container %}
    <div class="col-sm-8 col-md-9 pricing-plan">

        <div class="col-lg-6">
            <div class="pricing-box">
                <h6>Basic Package</h6>
                <div class="price">
                    <sup>$</sup>0
                    <span>per month</span>
                </div>
                <hr>
                <p>Bids - <strong>10</strong></p>
                <p>Job Fee - <strong>8.95%</strong></p>
                <br>
                <a class="kafe-btn kafe-btn-mint-small full-width" href="">Select plan</a>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="pricing-box">
                <h6>Medium Package</h6>
                <div class="price">
                    <sup>$</sup>10
                    <span>per month</span>
                </div>
                <hr>
                <p>Bids - <strong>50</strong></p>
                <p>Job Fee - <strong>8.20%</strong></p>
                <br>
                <a class="kafe-btn kafe-btn-mint-small full-width" href="">Select plan</a>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="pricing-box">
                <h6>Ultimate Package</h6>
                <div class="price">
                    <sup>$</sup>20
                    <span>per month</span>
                </div>
                <hr>
                <p>Bids - <strong>100</strong></p>
                <p>Job Fee - <strong>7.20%</strong></p>
                <br>
                <a class="kafe-btn kafe-btn-mint-small full-width" href="">Select plan</a>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="pricing-box">
                <h6>Yearly Package</h6>
                <div class="price">
                    <sup>$</sup>2000
                    <span>per Year</span>
                </div>
                <hr>
                <p>Bids - <strong>4000</strong></p>
                <p>Job Fee - <strong>5.20%</strong></p>
                <br>
                <a class="kafe-btn kafe-btn-mint-small full-width" href="">Select plan</a>
            </div>
        </div>

    </div><!-- /.col-md-9 -->{% endblock %}
