{% extends "dashboard_Base.html.twig" %}

{% block title %}TemplateBundle:Dashboard:d_Featured_Companies{% endblock %}

{% block container %}
    <div class="col-sm-8 col-md-9">

        <div class="job-box">
            <div class="job-header">
                <h4>Feature your companies</h4>
            </div>
            <form method="post" id="addform">

                <div class="form-group">
                    <label>Choose a company you want to feature</label>
                    <select name="category" class="form-control">
                        <option value="">The Masha Brand</option>
                        <option value="">Google</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Days for the ad to run.</label>
                    <p>
                        <a href="" class="unselected">5 days</a>
                        <a href="" class="unselected">10 days</a>
                        <a href="" class="selected">15 days</a>
                        <a href="" class="unselected">1 month</a>
                    </p>
                </div>

                <div class="form-group">
                    <label>Budget depending on the days you have choosen.</label>
                    <p>
                        <a href="" class="unselected">$15</a>
                        <a href="" class="unselected">$35</a>
                        <a href="" class="selected">$60</a>
                        <a href="" class="unselected">$100</a>
                    </p>
                </div>

                <button class="kafe-btn kafe-btn-mint-small full-width">Proceed to Checkout</button>
            </form>
        </div><!-- /.job-box -->

    </div><!-- /.col-md-9 -->{% endblock %}
