{% extends "dashboard_Base.html.twig" %}

{% block title %}TemplateBundle:Dashboard:d_Feature_Your_Company{% endblock %}

{% block container %}
<h1>Welcome to the Dashboard:d_Feature_Your_Company page</h1>
{% endblock %}
