{% extends "base.html.twig" %}

{% block title %}BlogBundle:BlogCommentaire:CreateCommentaire{% endblock %}

{% block container %}
<h1>Welcome to the BlogCommentaire:CreateCommentaire page</h1>
    {{ form(form) }}
{% endblock %}
